

.cache
.directory
.DS_Store
.env
.fuse_hidden*
.grunt
.idea_modules/
.idea/
.lock-wscript
.node_repl_history
.npm
.nyc_output
.sonar/
.Trash-*
.vscode/
*.iml
*.ipr
*.iws
*.log
*.pid
*.seed
*.stTheme.cache
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
*~
/out/
atlassian-ide-plugin.xml
build/Release
bundlestats.json
com_crashlytics_export_strings.xml
coverage-reports
coverage/
crashlytics-build.properties
crashlytics.properties
cypress/downloads
cypress/results
cypress/screenshots
dist/
fabric.properties
lib-cov
logs
node_modules
npm-debug.log*
pids
public/
reports
results
sftp-config.json
snapshots.js
storybook-static
styleguide/
